@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 18px 17px;
    align-items: center;
}

@media (min-width: 900px){
    #header{
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 36px;
    }
    
}

#menu-large{
    display: none;
}

@media (min-width: 900px) {
    #menu-hamb{
        display: none;
    }

    #menu-large{
        display: flex;
        gap: 50px;
    }
    
    #menu-large>a{
        text-decoration: none;
        color: black;
        font-family: 'roboto', sans-serif;
        font-weight: 700;
    }
}

#bienvenida{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

#bienvenida>h1{
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    margin: auto 42px;
    font-weight: 700;
}

#bienvenida>img{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 900px){
    #bienvenida{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 50px;
        padding-right: 50px;
    }

    #bienvenida>h1{
        width: 30%;
        text-align: left;
        margin: 0px;
    }
}

#presentacion{
    background-color: black;
    border: solid 1px black;
    text-align: center;
}

#presen-text>h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #fafafa;
    margin: 55px 52px 41px 52px;
    font-weight: 700;
}

#presen-text>p{
    margin: 0px 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fafafa;
    text-align: left;
}

#presen-photo>img{
    margin: 57px auto 68px auto;
}

@media (min-width: 900px) {
    #presentacion{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 70px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #presen-text{
        width: 60%;
    }

    #presen-text>p{
        width: 60%;
    }

    #presen-text>p{
        margin: 0px;
        text-align: left;
    }

    #presen-text>h2{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: left;
    }

    #presen-photo>img{
        margin: 0px;
    }

}

#servicios{
    display: grid;
}

#servicios>h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 70px 52px 0px 52px;
    text-align: center;
    font-weight: 700;
    color: #2C2C2C;
}

.article{
    text-align: center;
    color: #2C2C2C;
    margin: 48px 56px 30px 56px;
    font-family: 'roboto', sans-serif;
}

.article>img{
    width: 35%;
}

@media (min-width: 900px) {
    #grid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

#form{
    background-color: black;
    border: solid 1px black;
    color: white;
    padding: 20px;
}

#form-texto>h2{
    font-family: 'open sans', sans-serif;
    text-align: center;
    margin: 44px 32px 36px 32px;
    font-weight: 700;
}

#form-container{
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

#form-container>input, #form-container>textarea{
    box-sizing:border-box;
    width: 100%;
    line-height: 30px;
    margin: 9px 0px 27px 0px;
    border: solid 3px #2C2C2C;
}

#submit-button{
    width: 100%;
    border: none;
    padding: 13px 30px 13px 30px;
    background-color: #FFD953;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 80px;
}

@media (min-width: 900px) {
    #form{
        display: flex;
        gap: 50px;
        align-items: flex-start;
        padding-top: 50px;
    }

    #form-texto{
        width: 40%;
    }

    #form-texto>h2{
        margin: 0px;
        text-align: right;
    }

    #form-form{
        width: 55%;
    }

    #form-container>input{
        display: block;
        width: 55%;
    }

    #form-form>input, #form-container>textarea{
        display: block;
        width: 55%;
    }
}

#footer{
    background-color: #DBDBDB;
    margin-bottom: 0px;
    padding: 53px 16px 113px 16px;
    font-family: 'roboto', sans-serif;
}

#footer-logo{
    margin-bottom: 85px;
    font-size: 13px;
    margin-left: 4px;
}

#footer-redes>div{
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (min-width: 900px) {
    #footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 50px 50px 50px;
    }

    #footer-redes{
        margin-right: 50px;
    }

    #footer-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #footer-logo>p{
        font-size: 13px;
        text-align: center;
        margin-top: 0px;
    }
}